header{
    padding: 20px 0;
}
header ul li{
    padding-left: 25px;
}
.navbar-brand{
    padding-inline-start: 20px;
    padding-right: 0;
    position: relative;
}

.navbar-light{
    padding-right: 25px;
}
.navbar-container .container{
    display: block;
    position: relative;
    margin-left: 12px;
}
