<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h2 class="footer-heading">
                    <a href="#">Personal Website</a>
                </h2>
                <p class="menu">
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Project</a>
                    <a href="#">Contact</a>
                </p>
                <p class="menu">
                    <a href="#">Twitter</a>
                    <a href="#">Facebook</a>
                    <a href="#">Instagram</a>
                </p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <p class="signature">Made with 💖<br>
                by Jacky Li</p>
            </div>
        </div>
    </div>
</footer>