<section class="mb-5">
    <div class="flex-container">
        <div class="container left">
            <div>
                <span class="intro display-3">Hi! I'm <br>Franky the<br>Carpenter!</span>
                <div class="container">
                    <p class="lead">
                        I build the best pirate ships<br>and make awesome weapons
                    </p>
                </div>
            </div>
        </div>

        <div class="container right">
            <div class="meida">
                <img src="assets/image/profile_2.jpg" width="480"/>
            </div>
        </div>
    </div>
</section>
<section>
    
</section>