
    <div class="ml-0 mr-0 mt-1 mb-3">
        <ngb-carousel *ngIf="images">
            
            <ng-template ngbSlide>
                <div class="wrapper">
                    <img [src]="images[0]" alt="first slide">
                </div>
                <div class="carousel-caption">
                    <h3>Invention_1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem minus facilis ullam aliquid nobis! Ratione ipsa, fuga minima inventore modi nulla quas possimus deleniti ex quae soluta, alias saepe harum!</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="wrapper">
                    <img [src]="images[1]" alt="second slide">
                </div>
                <div class="carousel-caption">
                    <h3>Invention_1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem minus facilis ullam aliquid nobis! Ratione ipsa, fuga minima inventore modi nulla quas possimus deleniti ex quae soluta, alias saepe harum!</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="wrapper">
                    <img [src]="images[2]" alt="third slide">
                </div>
                <div class="carousel-caption">
                    <h3>Invention_1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem minus facilis ullam aliquid nobis! Ratione ipsa, fuga minima inventore modi nulla quas possimus deleniti ex quae soluta, alias saepe harum!</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="wrapper">
                    <img [src]="images[3]" alt="fourth slide">
                </div>
                <div class="carousel-caption">
                    <h3>Invention_1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem minus facilis ullam aliquid nobis! Ratione ipsa, fuga minima inventore modi nulla quas possimus deleniti ex quae soluta, alias saepe harum!</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
