<section class="mb-5">
    <div class="greeting position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="greeting-text col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal">Welcome to Our Adventure🌊!</h1>
            <p class="lead fw-normal">I am going to be the pirate king!! 🏴‍☠️</p>
            <a class="btn btn-outline-secondary" href="#">Register</a>
        </div>
    </div>
</section>

<section class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7">
                <span class="p-tag">Captain</span>
                <h1 class="name">Monkey D Luffy</h1>
                <p class="p-des mt-3 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias velit eaque iusto voluptatibus magni cupiditate, illum cum omnis sequi quas minima tempore quibusdam qui odio repellat quidem, eveniet praesentium mollitia.</p>
                <a href="/about" class="p-readmore">Read More <img src="assets/image/more.png" alt="read more icon" width="15" class="ml-2"/></a>
            </div>
        </div>
    </div>
</section>
<app-about></app-about>
<app-contact></app-contact>


